<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.security_03.mapper.PermissionDepartmentMapper">
    <select id="getPermissionList" resultType="java.util.ArrayList">
    SELECT permission_id
    FROM permission_department
    WHERE department_id = #{departmentId}
    </select>
</mapper>